<ul class="navbar-nav flex-grow-1">
    <li class="nav-item">
        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
    </li>
    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Index">All Job Offers</a>
        </li>
        @if (User.IsInRole(RECRUITER_ROLE))
        {
            <li class="nav-item">
                <a class="nav-link text-dark" asp-area="" asp-controller="Job" asp-action="Mine">My Job Offers</a>
            </li>
        }
    }
</ul>