@{
    ViewBag.Title = "Home Page";
}

<div class="mt-4 p-5 bg-light text-center">

    <h2 class="display-4">Hello, Admin!</h2>

    <p class="lead mb-1 mt-3">
        This is your administrator area - here you can <b>edit</b> and <b>delete</b> job offers.
    </p>

    <hr class="my-4">

    <a asp-controller="Job" asp-action="All" class="btn btn-primary btn-lg">All Job Offers</a>

    <span>  |  </span>

    <a asp-area="Admin" asp-controller="EmploymentType" asp-action="All" class="btn btn-primary btn-lg">All Employment Types</a>

    <span>  |  </span>

    <a asp-area="Admin" asp-controller="Category" asp-action="All" class="btn btn-primary btn-lg">All Categories</a>

</div> 